/* ========= NAVBAR ========= */

@media screen and (max-width: 850px) {
    #search {
        width: 250px;
        max-width: 250px;
    }
}

@media screen and (max-width: 620px) {
    .logo i, h1 {
        font-size: large;
    }
}

@media screen and (max-width: 576px) {
    #search {
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    #search {
        width: 150px;
    }
    .btn-search .btn {
        width: 30px;
    }
}

@media screen and (max-width: 440px) {
    #search {
        width: 100px;
    }
    .btn-search .btn {
        width: 25px;
    }
}

/* === INPUT FOCUS === */

#search {
    transition: width .35s ease-in-out;
}

@media screen and (max-width: 440px) {
    #search:focus {
        width: 100px;
    }
}

/* === DPRODOWN NOTIFICATIONS === */

@media screen and (max-width: 400px) {
    .dropdown-content {
        left: -275px;
    }
}