* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #181818; */
    background-color: #f9f9f9;
    color: black;
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: x-large;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
}

h3 {
    font-weight: 600;
    font-size: 16px;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

/* ========== NAVBAR ========== */

.logo a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo i {
    margin-right: 5px;
    font-size: x-large;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    padding: 15px;
}

.search {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search input {
    display: block;
    width: 500px;
    max-width: 500px;
    height: 25px;
    /* background-color: #181818; */
    border: #202020;
}

.btn {
    height: 25px;
    /* padding: 2.75px; */
    border: none;
    /* border-color: #202020; */
    width: 40px;
    height: 25px;
    background-color: white;
    cursor: pointer;
}

.btn:active {
    box-shadow: 2px black;
}

.icons {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
}

.fa-bell, .fa-user-circle {
    font-size: x-large;
    color: black;
}

.fa-bell {
    margin-right: 15px;
}

/* === BADGE NOTIFICATION === */

.notification, .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.notification .badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
    top: -8px;
    left: 12px;
    right: 20px;
    height: 10px;
    width: 10px;
    /* padding: 3px; */
    padding: .20rem;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

/* === DROPDOWN === */

.dropbtn {
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    left: -300px;
    max-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#drop-profile {
    left: -140px;
}

.dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

/* === DROPDOWN NOTIFICATIONS === */

.notifs-flex {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.video-image-notification {
    width: 80px;
    height: 40px;
}

.center-text-notification span {
    font-size: 12px;
    color: rgb(180, 180, 180);
}

.center-text-notification h3 {
    margin-left: -2px;
}

/* ========== CARDS ========== */

.card-video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 25px 5px 15px 5px;
    box-shadow: 0 .5rem 0 0 #c7c6c5, 0 0 0 .1rem rgba(49, 46, 43, 0.06);
    background-color: #f0f0f0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.video-image {
    width: auto;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

figure {
    display: flex;
    justify-content: space-between;
    margin-left: 7px;
}

figure img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

figure h3 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: -15px;
    margin-left: -94px;
}

figure .card-hover {
    display: flex;
    align-items: center;
    justify-content: right;
    left: -5px;
}

figcaption {
    display: flex;
    flex-direction: column;
    margin-left: 56px;
    margin-top: -15px;
    margin-bottom: 5px;
}

.time {
    margin-right: 5px;
}

.stats {
    font-size: 14px;
}

/* === HOVER === */

.card-hover {
    position: relative;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
}

.card-hover i {
    margin-left: 5px;
}

.card:hover .card-hover {
    opacity: 1;
}

.card-overlay {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 68px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: all 0.1s linear;
    height: 20px;
    opacity: 0;
    color: white;
    font-size: 16px;
    padding-top: 0px;
    margin-right: 7px;
}

.card:hover .card-overlay {
    opacity: 1;
    height: 30px;
    padding-top: 10px;
}

.later {
    position: absolute;
    display: flex;
    left: 120px;
    top: -200px;
    color: #fff;
    margin: 3px;
    width: 60%;
    font-size: large;
}

.later p {
    opacity: 0;
    display: flex;
}

.later:hover p {
    transition: .5s ease-in;
    opacity: 1;
}